@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(20, 20, 20);
  color: white;
}

@layer base {
  h1 {
    font-size: clamp(24px, 4.2vw, 36px);
    font-weight: 900;
    font-family: 'Lilita One', cursive;
  }
}
